.block {
  background: #EE82EE;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-bg {
  background-color: #065A97;
  padding: 30px 0;
}
.block-bg-copyright {
  background-color: #003f6d;
  padding: 30px 0;
}
.line {
  border-top: 1px solid #e9eff3;
}
