html, body {
	height: 100%;
	min-width: 320px;
}

html {
	font-size: 10px;
	line-height: 1.4;
}

body {
	font-size: 1.6rem; /* 10px * 1.6 = 16px */
	font-family: 'Noto Sans';
}

p {
	font-size: 14px;
	line-height: 24px;
	color: #777;
}


.block {
	background: #EE82EE;
	padding: 20px;
	color: #000;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.block-bg {
	background-color: #065A97;
	padding: 30px 0;
}

.block-bg-copyright {
	background-color: #003f6d;
	padding: 30px 0;
}

.line {
	border-top: 1px solid #e9eff3;
}